{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Message{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="/submit" method="post">
    <label for="name">Your Name or Handle:</label><br>
    <input type="text" id="name" name="name" required><br><br>
    <label for="message">Your Message:</label><br>
    <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
    <input type="submit" value="Submit Message">
  </form>

  {% if thanks %}
     <br> 
     Message Sent
  {% endif %}

{% endblock %}